/* CSS Document */
table {
	border:1px solid #ccc;
 	border-width:1px 0 0 1px;
 	margin:2px 0 2px 0;
 	text-align:center;
 	border-collapse:collapse;
 }

td,th {
	border:1px solid #ccc;
	border-width:0 1px 1px 0;
	margin:2px 0 2px 0;
	text-align:left;
}
th {
	text-align:center;
	font-weight:600;
	font-size:12px;
	background-color:#F4F4F4;
}

.col1 {width:100px;}
.col2 {width:200px;}
.col3 {width:200px; height: 100px}