/* CSS Document */
table {
	border:1px solid #ccc;
 	border-width:1px 0 0 1px;
 	margin:2px 0 2px 0;
 	text-align:center;
 	border-collapse:collapse;
  	-webkit-border-radius: 4px 4px 0 0;
  	-moz-border-radius: 4px 4px 0 0;
  	cellpadding : 0;
  	width : 100%;
  	TABLE-LAYOUT: fixed;
 }

td,th {
	border:1px solid #ccc;
	border-width:0 1px 1px 0;
	margin:2px 0 2px 0;
	text-align:left;
}
th {
	text-align:center;
	font-weight:600;
	font-size:12px;
	background-color:#F4F4F4;
}

td.col1 {
	width:10%;
	height: ;
}

td.col2 {
	height: 20px;
}
td.col3 {
	width:20%; 
	height: 20px;
}
